* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow: hidden;
}

html, body {
  height: 100%;
}

body {

  .canvas {
    border: 0px solid red;
    width: 80%;
    height: 100%;

    canvas {
      border: 0px solid blue;
    }
  }

  .sliders {
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: 999;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    padding: 0 10px;
    width: 20%;
    border-left: 1px solid #dcdde1;
    background-color: #F9F9F9;

    label {
      font-family: Arial, sans-serif;
      margin-left: 10px;
      margin-bottom: 10px;
    }

    input {
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      width: calc(100% - 20px);
      height: 25px;
      border-radius: 25px;
      background-color: #dcdde1;
      outline: none;
      opacity: 0.7;
      -webkit-transition: .2s;
      transition: opacity .2s;
      border: 0px solid #7f8fa6;
      margin-left: auto;
      margin-right: auto;
    }

    button {
      width: calc(100% - 20px);
      margin: 0 auto;
      border: 0px;

      background-color: #dcdde1;
      border-radius: 25px;
      outline: none;
      cursor: pointer;
      padding: 5px;
    }

    #slider_1 {
      margin-bottom: 40px;
    }

    input:hover {
      opacity: 1;
    }

    input::-webkit-slider-thumb {
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      width: 25px;
      height: 25px;
      border: 0;
      background: url('../img/cursor.svg');
      background-size: cover;
      cursor: pointer;
    }

    input::-moz-range-thumb {
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      width: 25px;
      height: 25px;
      border: 0;
      background: url('../img/cursor.svg');
      cursor: pointer;
    }
  }
}